body {
  padding: 25px;
  background: white;
}

.form1 {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.firstLastName {
  display: flex;
}

.buttonStyle {
  padding: 10px 20px;
  margin: 30px auto;
  margin-left: auto;
  border: none;
  border-radius: 7px;
  font-weight: bold;
}

h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bold;
}

.labels {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: 400;
  padding: 5px;
}

.table td {
  text-align: center;
  text-transform: capitalize;
}

.table th {
  width: 300px;
  text-align: left;
}
.checked {
  color: orange;
}

.marginhead {
  margin-top: 50px;
}

td {
  text-transform: capitalize;
  color: black;
}

.tablebody {
  color: black;
}

.titletext {
  margin-top: 30px;
  font-weight: bold;
}
